@using MyStudy.MVCDemo.Models
@model IEnumerable<Singer>
@{
    ViewData["Title"] = "电影";
}

<h2>电影</h2>

<p>电影列表</p>
<form asp-controller="Singers" asp-action="Index">
    <p>
        Title: <input type="text" name="searchString">
        <input type="submit" value="Filter" />
    </p>
</form>
 <div class="form-group">
     <a type="button" asp-controller="Singers" asp-action="Create"  class="btn btn-primary">新增</a>
 </div>
<table>
    <tr><th>@Html.DisplayNameFor(model=>model.Id)</th>
    <th>@Html.DisplayNameFor(model=>model.Name)</th>
    <th>@Html.DisplayNameFor(model=>model.Url)</th>
    </tr>
    @foreach (var item in Model)
    {
         <tr>
            <td>
                @item.Id
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.Url)
            </td>
         
              <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
         </tr>
    }
</table>